body {
    background-color:azure;
}

*{
    margin:0;
    padding:0;
    border:0;
}

.kutu {
    width:1000px;
    height:1000px;
    margin:0 auto;
}

.kutu .slider {
    width:1000px;
    height:100px;
    float:left;
    background-color:antiquewhite;
}

.kutu .menu {
    width:1000px;
    height:40px;
    float:left;
    background-color:chocolate;
    margin-top:5px;
}
.kutu .govde {
    width:1000px;
    height:600px;
    float:left;
    margin-top:20px;
}

    .kutu .govde .govdesol{
        width:270px;
        height:300px;
        float:left;
    }

        .kutu .govde .govdesol .govdesolbaslik {
            width: 100%;
            height: 30px;
            float: left;
            background-color: aquamarine;
            border: 1px dotted #7430bd;
        }

        .kutu .govde .govdesol .govdesolicerik{
            width:100%;
            float:left;
            height:200px;
            border:1px dotted #7430bd;
        }

    .kutu .govde .govdesag {
        width: 700px;
        height: 600px;
        float: right;
        border: 1px dotted #7430bd;
    }
.kutu .alt {
    width:100%;
    height:40px;
    float:left;
    background-color:aquamarine;
    margin-top:20px;
}